<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
	<div class="navbar-wrapper">
		<div class="navbar-brand header-logo">
			<!-- Your Logo is hear -->
		</div>
		<div class="navbar-content scroll-div">
			<ul class="nav pcoded-inner-navbar">
				<li class="nav-item pcoded-menu-caption"><label>Menu Title</label></li>
				<li class="nav-item"><a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext">Single Link</span></a></li>
				<li class="nav-item pcoded-hasmenu">
					<a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Menu Levels 1.1</span></a>
					<ul class="pcoded-submenu">
						<li class="pcoded-hasmenu"><a href="javascript:" class="">Menu Levels 2.1</a>
							<ul class="pcoded-submenu">
								<li class=""><a href="javascript:" class="">Menu Levels 3.1</a></li>
								<li class=""><a href="javascript:" class="">Menu Levels 3.2</a></li>
								<li class=""><a href="javascript:" class="">Menu Levels 3.3</a></li>
								<li class=""><a href="javascript:" class="">Menu Levels 3.4</a></li>
							</ul>
						</li>
						<li class="pcoded-hasmenu"><a href="javascript:" class="">Menu Levels 2.2</a>
							<ul class="pcoded-submenu">
								<li class=""><a href="javascript:" class="">Menu Levels 3.1</a></li>
								<li class=""><a href="javascript:" class="">Menu Levels 3.2</a></li>
							</ul>
						</li>
						<li class=""><a href="javascript:" class="">Menu Levels 2.3</a></li>
						<li class=""><a href="javascript:" class="">Menu Levels 2.4</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
