<!-- [ navigation menu ] start -->
<!--  -->
<nav class="pcoded-navbar navbar-dark active-dark">
	<div class="navbar-wrapper">
		<div class="navbar-brand header-logo">
			<img src="https://oakland.edu/Assets/Oakland/about/graphics/logo-seal/OUStackedSail.jpg" alt="OU_LOGO"  width="80%"  padding-top="50px">
		</div>
		<div class="navbar-content scroll-div">
			<ul class="nav pcoded-inner-navbar">
				<li class="nav-item pcoded-menu-caption"><h2>DepAPP</h2></li>
				<li class="nav-item"><a href="/intro.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext">Intro page</span></a></li>
				<li class="nav-item"><a href="/people.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext">Staff</span></a></li>
				<li class="nav-item"><a href="/welcome.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext">Project Explanation</span></a></li>
				<li class="nav-item"><a href="/Infographics.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext">Stats</span></a></li>


				<li class="nav-item pcoded-hasmenu">
					<a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Private Content</span></a>
					<ul class="pcoded-submenu">
						<li class="pcoded-hasmenu"><a href="javascript:" class="">Private Content</a>
							<ul class="pcoded-submenu">
								<li class=""><a href="/stats2.html" class="">More Stats!</a></li>
								<li class=""><a href="/ai.html" class="">AI?</a></li>
							</ul>
						</li>
					</ul>

				<li class="nav-item pcoded-hasmenu">

					<li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/auth-reset-pass.html" class="">Reset Pass</a></li>
                            <li class=""><a href="/login.html" class="">Login (template)</a></li>
                            <li class=""><a href="/register.html" class="">Register (template)</a></li>
                        </ul>
                    </li>
			</ul>
			</ul>
		</div>
	</div>
</nav>
