{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">ABOUT</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                #TODO:FIND A DIFF HEADDER
                                <div class="card-header">
                                    <h5>Hello card</h5>
                                </div>
                                <div class="card-block">
                                    <p>Welcome to DepaAPP! This website will help one to get a grasp on where their mental health lies, tips and facts about improving one's overall mental wellbeing, and provide information in general on the subjects of anxiety and depression. We started our project with this goal: “to design and develop an Artificial Intelligence system that will aid in the monitoring and therapy of major depressive disorder with the goal to make the treatment more accessible and acceptable by individuals.” With the help of everyone involved we are working to accomplish this goal and deliver a new tool in fighting negative mental health disorders.
                                    </p>

                                    <p>One thing to note is that to use all features available on this site, including visualized information on anxiety and depression as well as an A.I. Chatbot, you need to create an account and login.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
