{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Team
                                </h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Team</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->

                    <h5>Depapp was developed by a team of researchers at Oakland University and UMass Boston. Below you can find a list of everyone responsible for making this tool possible!</h5>
                    <div class="row">
                        <div class="col-sm-12">
                           <div class="card">
                                <div class="card-header">
                                    <h5>Dr. Amartya Sen</h5>
                                </div>
                                <div class="card-block">
                                    <p>Amartya Sen is an Assistant Professor in the Department of Computer Science and Engineering at Oakland University, Rochester, Michigan. He received his Ph.D. in Computer Science from Missouri University of Science and Technology, USA in May 2018. He has published in peer-reviewed journals such as IEEE Transaction on Services Computing and IEEE Cloud Computing. His research interests are in the broad areas of cybersecurity and risk assessment in Cloud computing, autonomous vehicles, and Internet of Things.
                                    </p>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5>Dr. Kenneth K Fletcher</h5>
                                </div>
                                <div class="card-block">
                                    <p>A computer scientist and software engineer, Kenneth Fletcher is an Assistant Professor of Computer Science at University of Massachusetts Boston (UMass Boston). Prior to joining UMass Boston, Kenneth worked with Product Innovation and Engineering as a Software Engineer. His research spans Service and Cloud Computing, Software Engineering and Metal Additive Manufacturing. He has been a technical reviewer for several journals and conferences including the IEEE Transactions on Service Computing (TSC), IEEE Transactions on Network and Service Management (TNSM), IEEE Conference on Service Computing (SCC) and IEEE Conference on Web Services (ICWS), just to name a few."
                                    </p>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5>Oluwafeyisayo Oyeniyi</h5>
                                </div>
                                <div class="card-block">
                                    <p>Graduate researcher at Oakland University, working on Explainable AI
                                    </p>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5>ShreyanshSandip Dhandhukia</h5>
                                </div>
                                <div class="card-block">
                                    <p>Shreyansh is currently pursuing MS Computer Science from the University of Massachusetts Boston. I am a data science enthusiast and want to learn, contribute and excel in the field of artificial intelligence and machine learning.  I am currently working on the Explainable AI part of the project.
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5>Paul Albrecht</h5>
                                </div>
                                <div class="card-block">
                                    <p> Senior IT student at Oakland University, undergraduate researcher, Stats man.
                                    </p>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5>Alec Breslow</h5>
                                </div>
                                <div class="card-block">
                                    <p>Senior IT student at Oakland University, undergraduate researcher, Djangoer.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
