{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">WELCOME!</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Welcome</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>W E L C O M E</h5>
                                </div>
                                <div class="card-block">
                                    <p>Artificial Intelligence (AI) systems to address mental well-being
                                        Problem: Mental Disorders like Depression is a major issue in the youth of the USA, and also one of the leading causes of suicides. The current situation of the global pandemic has only aggravated this situation. Many individuals are unable to avail proper care due to a variety of reasons some attributed to the inability to monitor or diagnose the disorder at early stages, therapy and care not being easily accessible and/or affordable, and/or the disorder being treated as a taboo/stigma in their social circles.
                                        Goal: Design and Develop an Artificial Intelligence system that will aid in the monitoring and therapy of major depressive disorder with the goal to make the treatment more accessible and acceptable by individuals.
                                        Key-Ideas/Research Domains: Artificial Intelligence/Machine Learning, psychology, data science (understanding patterns of depressive behavior), delivery of an AI system that will be trusted and accepted by humans (should you develop a chatbot? Should you integrate it with devices like Amazon Alexa, should you develop an AR/VR technology that is more immersive, etc. what works more effectively?)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
